* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 500;
    color: floralwhite;
    text-decoration: none;
}
header {
    align-items: center;
    display:flex;
    justify-content:space-between;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a {
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover {
    color: aquamarine;
}
.items {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navlinks {
    list-style: none;
    display: flex;
  }
.navextra li {
    display: flex;
    margin: auto;
}
